.top-right{
  padding-left: 10%;
}

.top-padding {
  padding-top: 3.7em;
  padding-left: 10%;
}

.calendar {
  box-sizing: border-box;
  font-size: 2rem;
  max-width: 90%;
  height: 10rem;
  max-height: 15%;
}

.calendar .header {
  background-color: var(--light-blue);
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: var(--black);
  font-family: var(--font-book);
  font-weight: 700;
  display: flex;
}

.calendar .day-names {
  display: inline;
  max-width: 90%;
}

.calendar .body {
  border: 1px solid var(--light-blue);
}

.calendar .week {
  display: inline-block;
  background-color: white;
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: left;
  text-transform: uppercase;
  color: var(--darkblue);
  font-weight: 800;
  padding-left: 5%;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 150px;
  max-height: 15%;
  display: inline-block;
  background-color: white;
  z-index: 1;
  text-align: left;
  border: solid;
  border-style: outset;
  border-width: thin;
  background: url("../../images/calendarbg.svg");
  background-size: cover;
}

.button-align{
  position: relative;
  display: inline-block;
  margin-left: 90%;
}

.calendar .cal-ud{
  font-size: small;
}
.calendar .day div {
  width: 100%;
  height: 100%;
  max-height: 15%;
  position: relative;
  color: var(--black);
  z-index: 100;
  line-height: 0px;
}

.calendar .day .before {
  color: rgb(196, 194, 194);

}

.calendar .day div.selected {
  background-color: black;
  color: var(--white);
  font-weight: bold;
  width: 100%;
  height: 1500px;
  max-height: 80%;
}

.calendar .day div.today {
  background-color: #EBCECE;
  width: 100%;
  height: 1500px;
  max-height: 100%;
}

.text-leftPadding {
  padding-left: 0.5rem;
  padding-top: 1.75rem;
  display: inline-block;
}

.events {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

/* .before{
  background-color: black;
} */
.before Button{
  visibility: hidden;
}